{% set options = {
	id: "thank_you",
	article_classes: "new-title-slide",
	content_classes: ""
} %}

{% extends "./njk/base-section-title.njk" %}

{% block content %}
  <div class="s-intro-slide">
    <div class="s-house-slide__container" data-background-container="violet">
      <div class="s-house-slide__content o-transition__children o-transition__children--fade-up">
          <h1 class="section-content__title" data-companywide-editable="thank_you_cover_title_editable">Thank you</h1>
          <h2 class="section-content__subtitle" data-companywide-editable="thank_you_cover_subtitle_editable">For information on your FY25 pricing options <br /> please contact your realcommercial.com.au <br /> account representative</h2>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_rendered %}
{% endblock %}
