{% set options = {
	id: "elite_plus_get_you_noticed",
	article_classes: "",
	ribbonless: true
} %}
{% set optionsHeader = {
	includeReLogo: false
} %}
{% extends "./njk/base.njk" %}
{# import header partial and add to header_block #}
{% import "./njk/_partials/header-border.njk" as header %}
{% block header_block %}
    <header>
        <dl>
            <dd class="title">
                Elite Plus All contract
            </dd>
            <dd class="category">
                Property Advertising
            </dd>
        </dl>
    </header>
{% endblock %}
{% block content %}
    <div class="slide-header-border__content">
        <h1 class="slide-header-border__h1" data-companywide-editable="elite_plus_get_you_noticed_editable_title-HuYmrcAdwT">Elite Plus gets you noticed at every stage of the marketing journey</h1>
    </div>
    <div class="column-group column-group--12">
        <div class="elite_plus_get_you_noticed__image">
            <div class="elite_plus_get_you_noticed__block elite_plus_get_you_noticed__block-1">
                <div>
                    <span class="elite_plus_get_you_noticed__tag" data-companywide-editable="elite_plus_get_you_noticed_editable_tag-1-MUKk7OZpIo">Updated</span>
                    <h4 data-companywide-editable="elite_plus_get_you_noticed_editable_heading-1-CdDk21rTDs">Saved search e-Alert</h4>
                    <p data-companywide-editable="elite_plus_get_you_noticed_editable_text-1-WK1r1VjcMW"><strong>Extend your reach</strong> to consumers by matching saved searches of locations like your property.</p>
                </div>
                <div class="elite_plus_get_you_noticed__value elite_plus_get_you_noticed__value-1" data-companywide-editable="elite_plus_get_you_noticed_editable_value-1-H7czIERPUY"><p>Awareness</p></div>
            </div>
            <div class="elite_plus_get_you_noticed__block elite_plus_get_you_noticed__block-2">
                <div>
                    <span class="elite_plus_get_you_noticed__tag" data-companywide-editable="elite_plus_get_you_noticed_editable_tag-2-bDZ0lYBW82">New</span>
                    <h4 data-companywide-editable="elite_plus_get_you_noticed_editable_heading-2-SPHPi3MViV">Homepage Carousel</h4>
                    <p data-companywide-editable="elite_plus_get_you_noticed_editable_text-2-HbddYi68Yc"><strong>Be seen</strong> on the homepage and <strong>unlock the power of a premium position</strong> for maximum impact to a targeted audience.</p>
                </div>
                <div class="elite_plus_get_you_noticed__value elite_plus_get_you_noticed__value-2" data-companywide-editable="elite_plus_get_you_noticed_editable_value-2-is9V8ROwwU"><p>Interest</p></div>
            </div>
            <div class="elite_plus_get_you_noticed__block elite_plus_get_you_noticed__block-3">
                <div>
                    <span class="elite_plus_get_you_noticed__tag" data-companywide-editable="elite_plus_get_you_noticed_editable_tag-3-oVQ4R8QH7v">New</span>
                    <h4 data-companywide-editable="elite_plus_get_you_noticed_editable_heading-3-isSf1dqVwr">Targeted Email</h4>
                    <p data-companywide-editable="elite_plus_get_you_noticed_editable_text-3-TeKXg8G8x2"><strong>Drive incremental views and enquiries</strong> with a targeted email to consumers who have shown interest in your property but have not enquired.</p>
                </div>
                <div class="elite_plus_get_you_noticed__value elite_plus_get_you_noticed__value-3" data-companywide-editable="elite_plus_get_you_noticed_editable_value-2-I3IHMNEB8d"><p>Action</p></div>
            </div>
        </div>
    </div>
    <footer class="o-footer slide-footer">
        <div class="logo"></div>
    </footer>
{% endblock %}