{% block content %}
<article id="audience-overview-fy25">
  <header class="slide__header">
    <div class="slide__breadcrumb">
      <div class="slide__breadcrumb__icon"></div>
      <div class="slide__breadcrumb__category" data-companywide-editable="HJrhkTHg">Audience Insights</div> 
    </div>
    <h1 class="section__title" data-companywide-editable="HJrjhkTtrdcbgd">realcommercial.com.au gets you in front of Australia's largest audience of Commercial property seekers</h1>

    <div class="section__options">
      <div class="section__options__keys">
        <div class="container">
          <div class="color__box color__box--realcommercial"></div>
          <span data-companywide-editable="HJrjhkTHd">realcommercial.com.au</span>
        </div>

        <div class="container">
          <div class="color__box color__box--nearest_competitor"></div>
          <span data-companywide-editable="HJrjhkTHa">Nearest competitor</span>
        </div>

        <div class="container">
          <div class="color__box color__box--shared_audience"></div>
          <span data-companywide-editable="HJrjhkTHw">Shared audience</span>
        </div>
      </div>

      <div class="filter__container">
        <div id="audience-overview-fy25-dropdown"></div>
        <div class="refresh__button">
          <p>Refresh</p><span></span>
        </div>
      </div>
    </div>
  </header>

  <section class="slide__body">
    <div class="container container__removable" value="0" id='unique-audience'>
      <div class="container__removable__icon container__removable__icon--disable"></div>
      <p class="container__title" data-companywide-editable="HJrjhkTHq">More eyeballs on your property</p>
      <div class="chart">
        <div class="chart__item chart__item--total">
          <span>1.2m</span>
        </div>
        <div class="chart__item chart__item--competitor">
          <span>716k</span>
        </div>
      </div>
      <p class="container__title__sub" data-companywide-editable="HJrjhkTHt">Unique audience</p>
      <p class="container__title__sub" data-companywide-editable="HJrjhkTHd">RCA vs Nearest competitor</p>
      <p class="container__description" data-companywide-editable="HJrjyhkTH">
        Reaching <span>1.2million</span> people on average each month, that's <span>69%</span> more than our nearest competitor<sup>1</sup>
      </p>
    </div>
    <div class="divider"></div>

    <div class="container container__removable" value="1" id="audience">
      <div class="container__removable__icon container__removable__icon--disable"></div>
      <p class="container__title" data-companywide-editable="HJrjhjkTH">An audience you won't find anywhere else</p>
      <div class="chart">
        <div class="chart__circle__item chart__circle__item--exclusive">
          <span>86%</span>
          <p>Exclusive Audience</p>
        </div>
        <div class="chart__circle__item chart__circle__item--shared">
          <span>XX%</span>
          <p>Shared</p>
        </div>
      </div>
      <p class="container__description container__description" data-companywide-editable="HkrjhkTHg">
        <span>86%</span> of our audience only use us<sup>2</sup>
      </p>
    </div>
    <div class="divider"></div>

    <div class="container container__removable" value="2" id="visitor">
      <div class="container__removable__icon container__removable__icon--disable"></div>
      <p class="container__title" data-companywide-editable="HhJrjhkTH">The most monthly visits</p>
      <div class="chart">
        <div class="chart__item chart__item--total">
          <span>2.8m</span>
        </div>
        <div class="chart__item chart__item--competitor">
          <span>1.8m</span>
        </div>
      </div>
      <p class="container__title__sub" data-companywide-editable="HJrkhkTHg">Total visits</p>
      <p class="container__title__sub" data-companywide-editable="HJrjhkTHg">RCA vs Nearest competitor</p>
      <p class="container__description" data-companywide-editable="HkrjhkTHg">We get <span>1.5x</span> more visits than
        our nearest competitor<sup>3</sup></p>
    </div>
  </section>

  <footer class="slide__footer" data-companywide-editable="HlrIchkTH">
    <p data-companywide-editable="HlrjyhkTH">1. Ipsos iris Online Audience Measurement Service, January 2023 –
      December
      2023, P14+, PC/laptop/smartphone/tablets, text only, realcommercial.com.au, commercialrealestate.com.au, Unique
      Audience</p>
    <p data-companywide-editable="HJrFyhkTH">2. Ipsos iris Online Audience Measurement Service, January 2023 – December
      2023 (monthly average), P14+, PC/laptop/smartphone/tablet, text only, Brand Group, realcommercial.com.au vs
      commercialrealestate.com.au, Exclusive Audience</p>
    <p data-companywide-editable="HJrIyhkTH">3. Nielsen Digital Media Ratings (Monthly Volumetric), P2+, Digital (C/M),
      text, realcommercial.com.au vs commercialrealestate.com.au, Average Daily Total Sessions</p>
  </footer>
</article>
{% endblock %}

<script type="text/javascript">
  {% include './sections/fy25_pricing/slides/audience_overview_fy25/slide.js' %}
</script>