@font-face {
  font-family: "REAPangea";
  font-style: normal;
  font-weight: 300;
  src: url("typography/fonts/rea-pangea/REAPangea-LightWeb.woff") format("woff");
  src: url("typography/fonts/rea-pangea/REAPangea-LightWeb.woff2")
    format("woff2");
}

@font-face {
  font-family: "REAPangea";
  font-style: normal;
  font-weight: 400;
  src: url("typography/fonts/rea-pangea/REAPangea-RegularWeb.woff")
    format("woff");
  src: url("typography/fonts/rea-pangea/REAPangea-RegularWeb.woff2")
    format("woff2");
}

@font-face {
  font-family: "REAPangea";
  font-style: normal;
  font-weight: 500;
  src: url("typography/fonts/rea-pangea/REAPangea-MediumWeb.woff")
    format("woff");
  src: url("typography/fonts/rea-pangea/REAPangea-MediumWeb.woff2")
    format("woff2");
}

@font-face {
  font-family: "REAPangea";
  font-style: normal;
  font-weight: 600;
  src: url("typography/fonts/rea-pangea/REAPangea-SemiBoldWeb.woff")
    format("woff");
  src: url("typography/fonts/rea-pangea/REAPangea-SemiBoldWeb.woff2")
    format("woff2");
}

@font-face {
  font-family: "REAPangea";
  font-style: normal;
  font-weight: 700;
  src: url("typography/fonts/rea-pangea/REAPangea-BoldWeb.woff") format("woff");
  src: url("typography/fonts/rea-pangea/REAPangea-BoldWeb.woff2")
    format("woff2");
}
