.c-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-out, visibility 0s linear 0.4s;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  }
  &__shroud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include cursor(pointer);
  }
  &__contents {
    cursor: initial;
    min-width: 100px;
    min-height: 100px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease-out;
    will-change: opacity, transform;
    &.is-active {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  &__video {
    flex: 2;
    max-width: 1350px;
  }
  &__video-warning {
    position: absolute;
    bottom: -82px;
    left: 0;
    right: 0;
  }
  &__close {
    position: absolute;
    top: 40px;
    right: $pagepad - 20px;
    background-image: url("img/buttons/cross.svg");
    height: 62px;
    width: 62px;
    background-size: cover;
    @include cursor(pointer);
  }
}
