.c-source {
  &__container {
    font-size: 12px;
  }
  &__toggle {
    @include font-weight(bold);
    position: absolute;
    top: -20px;
    left: $pagepad;
    opacity: 1;
    will-change: opacity;
    transition: opacity 0.2s ease-out;
    backface-visibility: hidden;
    @include cursor();
    padding: 20px 7px 20px 0;
  }

  &__text {
    padding: 20px 7px 20px 0;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.2s ease-out;
    backface-visibility: hidden;
  }
  &--open {
    .c-source__toggle {
      opacity: 0;
    }

    .c-source__text {
      opacity: 1;
    }
  }
}
