article#fy25_roi_summary {
  $pangea: "REAPangea", "museo_sans", Helvetica, Arial, sans-serif;
  font-family: $pangea;

  .header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 95px;
    padding-left: 119px;
    padding-right: 120px;

    &__title {
      color: #3e3b41;
      font-size: 50px;
      height: 75px;
      font-family: $pangea;
      font-weight: 600;
      line-height: 60px;
    }
    &__input {
      width: 100%;
      height: 86px;
      position: static;
      float: left;
      margin-top: 0;
      padding-left: 30px;
      display: flex;
      align-items: center;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &__input-dropdown {
      font-family: $pangea;
      border-color: #979797;
      h6 {
        font-family: $pangea;
        font-weight: 400;
        line-height: 20px;
        color: #3e3b41;
      }
    }

    &__refresh {
      display: block;
      top: 73px;
      right: 120px;
      font-weight: 600;
      line-height: 17px;
      font-size: 14px;
      font-family: "museo_sans";
      padding-top: 9px;
    }
  }

  .header__input-dropdown,
  .results__child {
    transition: all 1s ease;
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .header__input--three .header__input-dropdown:last-child {
    margin: 0;
  }

  .table-summary {
    margin-top: 0;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;

    &__head {
      &:before {
        content: none;
      }
    }

    &__body {
      background-color: #565359;

      .table-summary__column:nth-child(even) .table-summary__column--cell {
        background-color: white;
      }
    }

    &__column {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }

    &__column-fix {
      background-color: #055fb4;
      color: white;
      width: 100%;
      height: 63px;
      display: flex;
      align-items: center;
      padding-left: 30px;

      h6 {
        font-weight: 600;
        text-transform: none;
        color: white;
        font-size: 20px;
        line-height: 25px;
      }
    }

    &__column {
      &--views {
        background-image: url(./img/views.svg);
      }
      &--phone {
        background-image: url(./img/phone.svg);
      }
      &--email {
        background-image: url(./img/email.svg);
      }
      &--total {
        background-image: url(./img/total.svg);
      }
      &:last-child {
        .table-summary__column--cell {
          border-right: none;
        }
      }
    }

    &__column--cell {
      padding-left: 30px;
      padding-right: 30px;
      height: 86px;
      width: 100%;
      border: 1px solid #d8d8d8;
      margin-top: -1px;
      background-color: #f2f2f2;

      h3 {
        font-family: $pangea;
        color: #3e3b41;
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
      }

      &:last-child {
        border-top: 1px solid #d8d8d8;
        width: 100%;
        h3 {
          color: #66408d;
        }
      }
    }

    &__column--cell-child {
      color: #2e2c30;
      font-size: 16px;
      line-height: 20.29px;
    }
  }
}
