.title-slide__title-half {
	background: $blue;
	width: 1207px;
	height: 1080px;
	position: relative;
	display: table;

	&:after {
		content: '';
		width: 50px;
		height: 50px;
		background: $blue;
		position: absolute;
		top: 50%;
		right: -25px;
		transform: translateY(-50%) rotate(45deg);
	}
}



.title-slide__copy {
	color: $text-inverse;
	width: 985px;
}

.title-slide__rca-logo {
	background: url('./img/RCA-Logo.png');
	background-size: contain;
	width: 482px;
	height: 100px;
	position: absolute;
	right: 126px;
	top: 50%;
	transform: translateY(-50%);
}

.title-slide__title-half .editable-container,
.title-slide__title-half .title-slide__copy {
	display: table-cell;
    vertical-align: middle;
}

.title-slide__title-half .title-slide__copy {
	padding-left: 120px;
}