<article id="best_roi_overview">
    <header class="header-border header-border--blue">
        <h2 class="section-title" data-companywide-editable="best_roi_overview_section-title">We continue to invest in new and exciting value every year</h1>
    </header>
    <section id="subslide-1" class="subslide page01 content">
        <section class="content__body">
            <div class="subscription-value__container">
                <div class="subscription-value__columns">
                    <div class="subscription-value__column">
                        <div class="subscription-value__column__header subscription-value__column__header--purple">
                            <div class="subscription-value__column__header__icon subscription-value__column__header__icon--house-click"></div>
                            <div class="subscription-value__column__header__content">
                                <h4 class="subscription-value__column__header__title" data-companywide-editable="best_roi_overview_subscription_value_header_title_YMuIGXry5r">Property Advertising</h4>
                                <span class="subscription-value__column__header__subtitle" data-companywide-editable="best_roi_overview_subscription_value_header_subtitle_YMuIGXry5r">Get a better result</span>
                            </div>
                        </div>
                        <div class="subscription-value__column__body">
                            <div class="subscription-value__column__body__item subscription-value__column__body__item--purple" data-subslide="2" data-companywide-interactive>
                                <span class="subscription-value__column__body__item__tag" data-companywide-editable="best_roi_overview_tag_m0AmL3aoAv">New</span>
                                <span class="subscription-value__column__body__item__title" data-companywide-editable="best_roi_overview_title_m0AmL3aoAv">Elite Plus value</span>
                            </div>
                            <div class="subscription-value__column__body__item subscription-value__column__body__item--purple" data-subslide="3" data-companywide-interactive>
                                <span class="subscription-value__column__body__item__tag" data-companywide-editable="best_roi_overview_tag_qGGienVPwc">Updated</span>
                                <span class="subscription-value__column__body__item__title" data-companywide-editable="best_roi_overview_title_qGGienVPwc">Audience Maximiser</span>
                            </div>
                            <div class="subscription-value__column__body__item subscription-value__column__body__item--purple" data-subslide="4" data-companywide-interactive>
                              <span class="subscription-value__column__body__item__tag" data-companywide-editable="best_roi_overview_tag_ARVOM2CQs6">New</span>
                              <span class="subscription-value__column__body__item__title" data-companywide-editable="best_roi_overview_title_ARVOM2CQs6">Save with longer duration listings</span>
                            </div>
                            <div class="subscription-value__column__body__item subscription-value__column__body__item--purple" data-subslide="5" data-companywide-interactive>
                                <span class="subscription-value__column__body__item__title" data-companywide-editable="best_roi_overview_title_0nxKbBkRTV">More flexibility with Lower <br /> Valued Asset (LVA)</span>
                            </div>
                        </div>
                    </div>
                    <div class="subscription-value__column">
                        <div class="subscription-value__column__header subscription-value__column__header--sky-blue">
                            <div class="subscription-value__column__header__icon subscription-value__column__header__icon--people"></div>
                            <div class="subscription-value__column__header__content">
                                <h4 class="subscription-value__column__header__title" data-companywide-editable="best_roi_overview_subscription_value_header_title_HWtnc4wBMR">Agency Marketplace</h4>
                                <span class="subscription-value__column__header__subtitle" data-companywide-editable="best_roi_overview_subscription_value_header_subtitle_HWtnc4wBMR">The place to win new business</span>
                            </div>
                        </div>
                        <div class="subscription-value__column__body">
                            <div class="subscription-value__column__body__item subscription-value__column__body__item--sky-blue" data-subslide="6" data-companywide-interactive>
                                <span class="subscription-value__column__body__item__tag" data-companywide-editable="best_roi_overview_tag_0Ebr9f9IeP">New</span>
                                <span class="subscription-value__column__body__item__title" data-companywide-editable="best_roi_overview_title_0Ebr9f9IeP">Consumer Market Insights</span>
                            </div>
                            <div class="subscription-value__column__body__item subscription-value__column__body__item--sky-blue" data-subslide="7" data-companywide-interactive>
                                <span class="subscription-value__column__body__item__tag" data-companywide-editable="best_roi_overview_tag_cjVu9YprKI">Updated</span>
                                <span class="subscription-value__column__body__item__title" data-companywide-editable="best_roi_overview_title_cjVu9YprKI">Regional Sponsorship</span>
                            </div>
                        </div>
                    </div>
                    <div class="subscription-value__column">
                        <div class="subscription-value__column__header subscription-value__column__header--teal">
                            <div class="subscription-value__column__header__icon subscription-value__column__header__icon--web-search"></div>
                            <div class="subscription-value__column__header__content">
                                <h4 class="subscription-value__column__header__title" data-companywide-editable="best_roi_overview_subscription_value_header_title_l9ZyfoA5ej">Ignite</h4>
                            </div>
                        </div>
                        <div class="subscription-value__column__body">
                            <div class="subscription-value__column__body__item subscription-value__column__body__item--teal" data-subslide="8" data-companywide-interactive>
                                <span class="subscription-value__column__body__item__tag" data-companywide-editable="best_roi_overview_tag_orLsy0e1uR">New</span>
                                <span class="subscription-value__column__body__item__title" data-companywide-editable="best_roi_overview_title_orLsy0e1uR">Power your business</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="subslide-2" class="subslide page02 content">
        <section class="content__body">
            <div class="subscription-value__modal subscription-value__modal--purple">
                <div class="subscription-value__modal__close" data-companywide-interactive></div>
                <div class="subscription-value__modal__badge">
                    <div class="subscription-value__modal__badge__icon subscription-value__modal__badge__icon--house-click"></div>
                    <span class="subscription-value__modal__badge__text" data-companywide-editable="best_roi_overview_subscription_value_header_title_YMuIGXry5r">Property Advertising</span>
                </div>
                <div class="subscription-value__modal__content">
                    <div class="subscription-value__modal__content__body">
                        <span class="subscription-value__modal__tag" data-companywide-editable="best_roi_overview_tag_m0AmL3aoAv">New</span>
                        <h4 class="subscription-value__modal__content__body__title" data-companywide-editable="best_roi_overview_elite_plus_value_modal_body_title" data-toolbar="color subscript removeformat">Elite Plus value</h4>
                        <div class="subscription-value__modal__content__body__text" data-companywide-editable="best_roi_overview_elite_plus_value_modal_body_text" data-toolbar="list style color superscript removeformat">
                            <ul>
                                <li>Be seen on the <strong>homepage</strong> and unlock the power of a premium<br />position for maximum impact to a targeted audience.</li>
                                <li>Drive incremental views and enquiries with <strong>targeted email</strong> and<br /><strong>eAlerts</strong> to consumers who have shown interest in your property.</li>
                                <li>Increasing exposure for your agency brand and<br />agent branding, to deliver you more opportunities.</li>
                            </ul>
                        </div>
                    </span>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--elite-plus"></div>
                </div>
            </div>
        </section>
    </section>
    <section id="subslide-3" class="subslide page03 content">
        <section class="content__body">
            <div class="subscription-value__modal subscription-value__modal--purple">
                <div class="subscription-value__modal__close" data-companywide-interactive></div>
                <div class="subscription-value__modal__badge">
                    <div class="subscription-value__modal__badge__icon subscription-value__modal__badge__icon--house-click"></div>
                    <span class="subscription-value__modal__badge__text" data-companywide-editable="best_roi_overview_subscription_value_header_title_YMuIGXry5r">Property Advertising</span>
                </div>
                <div class="subscription-value__modal__content">
                    <div class="subscription-value__modal__content__body">
                        <span class="subscription-value__modal__tag" data-companywide-editable="best_roi_overview_tag_qGGienVPwc">Updated</span>
                        <h4 class="subscription-value__modal__content__body__title" data-companywide-editable="best_roi_overview_audience_maximiser_modal_body_title" data-toolbar="color subscript removeformat">Audience Maximiser<sup>1</sup></h4>
                        <div class="subscription-value__modal__content__body__text" data-companywide-editable="best_roi_overview_audience_maximiser_modal_body_text" data-toolbar="list style color superscript removeformat">
                            <ul>
                                <li>Targeted, performance-based campaigns driving clicks to<br />your listing.</li>
                                <li>Be seen by more buyers or tenants, wherever they are online<br />across thousands of websites, social media and apps. </li>
                                <li>Power all your listings with an Audience Maximiser All<br />subscription at a discounted rate.</li>
                            </ul>
                        </div>
                    </span>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--audience-maximiser"></div>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--double-page-views"></div>
                </div>
            </div>
        </section>
        <div class="disclaimer" data-companywide-editable="best_roi_overview_disclaimer_qGGienVPwc" data-toolbar="style list removeformat">
            <ol>
                <li>Available for Elite Plus and Elite listings only.</li>
                <li>Based on average page views for an Elite Plus listing, 1 July 2022 – 30 June 2023 and estimated click throughs for an Audience Maximiser Gold package.</li>
            </ol>
        </div>
    </section>
    <section id="subslide-4" class="subslide page04 content">
        <section class="content__body">
            <div class="subscription-value__modal subscription-value__modal--purple">
                <div class="subscription-value__modal__close" data-companywide-interactive></div>
                <div class="subscription-value__modal__badge">
                    <div class="subscription-value__modal__badge__icon subscription-value__modal__badge__icon--house-click"></div>
                    <span class="subscription-value__modal__badge__text" data-companywide-editable="best_roi_overview_subscription_value_header_title_YMuIGXry5r">Property Advertising</span>
                </div>
                <div class="subscription-value__modal__content">
                    <div class="subscription-value__modal__content__body">
                      <span class="subscription-value__modal__tag" data-companywide-editable="best_roi_overview_tag_YMuIGXry5r">New</span>
                        <h4 class="subscription-value__modal__content__body__title" data-companywide-editable="best_roi_overview_longer_duration_listings_modal_body_title" data-toolbar="color subscript removeformat">Longer duration listings</h4>
                        <div class="subscription-value__modal__content__body__text" data-companywide-editable="best_roi_overview_longer_duration_listings_modal_body_text" data-toolbar="list style color superscript removeformat">
                            <ul>
                                <li>Save more per day when you list your property for a<br />longer duration of 180 or 365 days.</li>
                            </ul>
                        </div>
                    </span>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--elite-sale"></div>
                </div>
            </div>
        </section>
    </section>
    <section id="subslide-5" class="subslide page05 content">
        <section class="content__body">
            <div class="subscription-value__modal subscription-value__modal--purple">
                <div class="subscription-value__modal__close" data-companywide-interactive></div>
                <div class="subscription-value__modal__badge">
                    <div class="subscription-value__modal__badge__icon subscription-value__modal__badge__icon--house-click"></div>
                    <span class="subscription-value__modal__badge__text" data-companywide-editable="best_roi_overview_subscription_value_header_title_YMuIGXry5r">Property Advertising</span>
                </div>
                <div class="subscription-value__modal__content">
                    <div class="subscription-value__modal__content__body">
                        <h4 class="subscription-value__modal__content__body__title" data-companywide-editable="best_roi_overview_lower_valued_asset_modal_body_title" data-toolbar="color subscript removeformat">More flexibility with Lower Valued Asset (LVA)</h4>
                        <div class="subscription-value__modal__content__body__text" data-companywide-editable="best_roi_overview_lower_valued_asset_modal_body_text" data-toolbar="list style color superscript removeformat">
                            <p>LVA allows you to downgrade a lower priced listing to either Elite<br />or Enhanced (for Elite Plus All customers) or Enhanced (for Elite All<br />customers) at the best rates in market, without reducing your<br />Exception balance.</p>
                            <br />
                            <p><strong>For Sale thresholds:</strong></p>
                            <ul>
                                <li>Elite Plus All – Under $800k exc. GST</li>
                                <li>Elite All – Under $600k exc. GST</li>
                            </ul>
                            <p><strong>For Lease thresholds:</strong></p>
                            <ul>
                                <li>Elite Plus All and Elite All</li>
                                <li>VIC, NSW, QLD $75K exc. GST</li>
                                <li>WA, SA, TAS, NT, ACT $50k exc. GST</li>
                            </ul>
                        </div>
                    </span>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--lower-valued-asset"></div>
                </div>
            </div>
        </section>
    </section>
    <section id="subslide-6" class="subslide page06 content">
        <section class="content__body">
            <div class="subscription-value__modal subscription-value__modal--sky-blue">
                <div class="subscription-value__modal__close" data-companywide-interactive></div>
                <div class="subscription-value__modal__badge">
                    <div class="subscription-value__modal__badge__icon subscription-value__modal__badge__icon--people"></div>
                    <span class="subscription-value__modal__badge__text" data-companywide-editable="best_roi_overview_subscription_value_header_title_HWtnc4wBMR">Agency Marketplace</span>
                </div>
                <div class="subscription-value__modal__content">
                    <div class="subscription-value__modal__content__body">
                        <span class="subscription-value__modal__tag" data-companywide-editable="best_roi_overview_tag_0Ebr9f9IeP">New</span>
                        <h4 class="subscription-value__modal__content__body__title" data-companywide-editable="best_roi_overview_consumer_market_insights_modal_body_title" data-toolbar="color subscript removeformat">Consumer Market Insights</h4>
                        <div class="subscription-value__modal__content__body__text" data-companywide-editable="best_roi_overview_consumer_market_insights_modal_body_text" data-toolbar="list style color superscript removeformat">
                            <ul>
                                <li>Get more enquiries delivered through an improved<br />experience for consumers</li>
                                <li>Providing market insights you can’t find anywhere else<br />to assist consumers in the research phase of buying a<br />commercial property.</li>
                            </ul>
                        </div>
                    </span>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--consumer-market-insights"></div>
                </div>
            </div>
        </section>
    </section>
    <section id="subslide-7" class="subslide page07 content">
        <section class="content__body">
            <div class="subscription-value__modal subscription-value__modal--sky-blue">
                <div class="subscription-value__modal__close" data-companywide-interactive></div>
                <div class="subscription-value__modal__badge">
                    <div class="subscription-value__modal__badge__icon subscription-value__modal__badge__icon--people"></div>
                    <span class="subscription-value__modal__badge__text" data-companywide-editable="best_roi_overview_subscription_value_header_title_HWtnc4wBMR">Agency Marketplace</span>
                </div>
                <div class="subscription-value__modal__content">
                    <div class="subscription-value__modal__content__body">
                        <span class="subscription-value__modal__tag" data-companywide-editable="best_roi_overview_tag_cjVu9YprKI">Updated</span>
                        <h4 class="subscription-value__modal__content__body__title" data-companywide-editable="best_roi_overview_region_sponsorship_modal_body_title" data-toolbar="color subscript removeformat">Region Sponsorship</h4>
                        <div class="subscription-value__modal__content__body__text" data-companywide-editable="best_roi_overview_region_sponsorship_modal_body_text" data-toolbar="list style color superscript removeformat">
                            <ul>
                                <li>Giving you exclusive branding opportunities to stand<br />out in locations that matter to you.</li>
                                <li>Link back to your Agency Profile, the place to showcase<br />your brand and capture the attention of sellers and<br />landlords as they search for the right agency.</li>
                            </ul>
                            <p><strong>What’s changed?</strong></p>
                            <ul>
                                <li>Increase brand exposure to your agency by linking your<br />Region Sponsorship to your website.</li>
                            </ul>
                        </div>
                    </span>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--region-sponsorship"></div>
                </div>
            </div>
        </section>
    </section>
    <section id="subslide-8" class="subslide page08 content">
        <section class="content__body">
            <div class="subscription-value__modal subscription-value__modal--teal">
                <div class="subscription-value__modal__close" data-companywide-interactive></div>
                <div class="subscription-value__modal__badge">
                    <div class="subscription-value__modal__badge__icon subscription-value__modal__badge__icon--web-search"></div>
                    <span class="subscription-value__modal__badge__text" data-companywide-editable="best_roi_overview_subscription_value_header_title_l9ZyfoA5ej">Ignite</span>
                </div>
                <div class="subscription-value__modal__content">
                    <div class="subscription-value__modal__content__body">
                        <span class="subscription-value__modal__tag" data-companywide-editable="best_roi_overview_tag_orLsy0e1uR">New</span>
                        <h4 class="subscription-value__modal__content__body__title" data-companywide-editable="best_roi_overview_power_your_business_modal_body_title" data-toolbar="color subscript removeformat">Power your business</h4>
                        <div class="subscription-value__modal__content__body__text" data-companywide-editable="best_roi_overview_power_your_business_modal_body_text" data-toolbar="list style color superscript removeformat">
                            <ul>
                                <li>Better understand your listing’s performance against<br /><strong>comparable listings</strong> with powerful data in Ignite.</li>
                                <li>Get <strong>actionable insights</strong> on your advertising campaigns,<br />so you can have more informed conversations with your<br />vendors and landlords.</li>
                            </ul>
                            <p><strong>Coming soon</strong></p>
                            <ul>
                                <li>Keep up-to-date with the performance of your<br />agency through the <strong>Agency Dashboard</strong></li>
                            </ul>
                        </div>
                    </span>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--power-your-business-1">
                        <div class="subscription-value__modal__content__visual__navigation">
                            <div class="subscription-value__modal__content__visual__navigation__button subscription-value__modal__content__visual__navigation__button--previous" disabled></div>
                            <div class="subscription-value__modal__content__visual__navigation__button subscription-value__modal__content__visual__navigation__button--next" data-subslide="9" data-companywide-interactive></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="subslide-9" class="subslide page09 content">
        <section class="content__body">
            <div class="subscription-value__modal subscription-value__modal--teal">
                <div class="subscription-value__modal__close" data-companywide-interactive></div>
                <div class="subscription-value__modal__badge">
                    <div class="subscription-value__modal__badge__icon subscription-value__modal__badge__icon--web-search"></div>
                    <span class="subscription-value__modal__badge__text" data-companywide-editable="best_roi_overview_subscription_value_header_title_l9ZyfoA5ej">Ignite</span>
                </div>
                <div class="subscription-value__modal__content">
                    <div class="subscription-value__modal__content__body">
                        <span class="subscription-value__modal__tag" data-companywide-editable="best_roi_overview_tag_orLsy0e1uR">New</span>
                        <h4 class="subscription-value__modal__content__body__title" data-companywide-editable="best_roi_overview_power_your_business_modal_body_title" data-toolbar="color subscript removeformat">Power your business</h4>
                        <div class="subscription-value__modal__content__body__text" data-companywide-editable="best_roi_overview_power_your_business_modal_body_text" data-toolbar="list style color superscript removeformat">
                            <ul>
                                <li>Better understand your listing’s performance against<br /><strong>comparable listings</strong> with powerful data in Ignite.</li>
                                <li>Get <strong>actionable insights</strong> on your advertising campaigns,<br />so you can have more informed conversations with your<br />vendors and landlords.</li>
                            </ul>
                            <p><strong>Coming soon</strong></p>
                            <ul>
                                <li>Keep up-to-date with the performance of your<br />agency through the <strong>Agency Dashboard</strong></li>
                            </ul>
                        </div>
                    </span>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--power-your-business-2">
                        <div class="subscription-value__modal__content__visual__navigation">
                            <div class="subscription-value__modal__content__visual__navigation__button subscription-value__modal__content__visual__navigation__button--previous" data-subslide="8" data-companywide-interactive></div>
                            <div class="subscription-value__modal__content__visual__navigation__button subscription-value__modal__content__visual__navigation__button--next" data-subslide="10" data-companywide-interactive></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="subslide-10" class="subslide page10 content">
        <section class="content__body">
            <div class="subscription-value__modal subscription-value__modal--teal">
                <div class="subscription-value__modal__close" data-companywide-interactive></div>
                <div class="subscription-value__modal__badge">
                    <div class="subscription-value__modal__badge__icon subscription-value__modal__badge__icon--web-search"></div>
                    <span class="subscription-value__modal__badge__text" data-companywide-editable="best_roi_overview_subscription_value_header_title_l9ZyfoA5ej">Ignite</span>
                </div>
                <div class="subscription-value__modal__content">
                    <div class="subscription-value__modal__content__body">
                        <span class="subscription-value__modal__tag" data-companywide-editable="best_roi_overview_tag_orLsy0e1uR">New</span>
                        <h4 class="subscription-value__modal__content__body__title" data-companywide-editable="best_roi_overview_power_your_business_modal_body_title" data-toolbar="color subscript removeformat">Power your business</h4>
                        <div class="subscription-value__modal__content__body__text" data-companywide-editable="best_roi_overview_power_your_business_modal_body_text" data-toolbar="list style color superscript removeformat">
                            <ul>
                                <li>Better understand your listing’s performance against<br /><strong>comparable listings</strong> with powerful data in Ignite.</li>
                                <li>Get <strong>actionable insights</strong> on your advertising campaigns,<br />so you can have more informed conversations with your<br />vendors and landlords.</li>
                            </ul>
                            <p><strong>Coming soon</strong></p>
                            <ul>
                                <li>Keep up-to-date with the performance of your<br />agency through the <strong>Agency Dashboard</strong></li>
                            </ul>
                        </div>
                    </span>
                    <div class="subscription-value__modal__content__visual subscription-value__modal__content__visual--power-your-business-3">
                        <div class="subscription-value__modal__content__visual__navigation">
                            <div class="subscription-value__modal__content__visual__navigation__button subscription-value__modal__content__visual__navigation__button--previous" data-subslide="9" data-companywide-interactive></div>
                            <div class="subscription-value__modal__content__visual__navigation__button subscription-value__modal__content__visual__navigation__button--next" disabled></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <footer class="slide-footer">
        <div class="footer_rca-logo-new"></div>
    </footer>
</article>

<script type="text/javascript">
  {% include './sections/fy25_pricing/slides/best_roi_overview/slide.js' %}
</script>
