{% set options = {
	id: "the_best_return_for_your_investment_cover",
	subslides: false,
	article_classes: "new-title-slide",
	content_classes: ""
} %}

{% extends "./njk/base-section-title.njk" %}

{% import "./njk/_partials/section-new-title.njk" as section_title %}

{% block content %}
	{{ section_title.title("violet","The best<br/>return on your<br/>investment", "", "", "fQ04eyIQeN", false) }}
{% endblock %}
